/* Overlay для затемнения фона */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Стиль модального окна */
.modal {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
}

/* Заголовок */
.modal h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Поля ввода */
.modal input[type="email"],
.modal input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Чекбокс и текст */
.modal label {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #666;
    margin: 15px 0;
}

/* Кнопки */
.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.reg-btn {
    background: rgba(63, 101, 241, 1);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left:60px;
}

/* Кнопка закрытия */
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.link-button {
    color: blue;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
}

.perehod{
    padding-left:100px;
}

@media (max-width: 393px) {
    .modal label {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #666;
        margin: 15px 0;
        flex-wrap: wrap;
        max-width: 100%; 
    }

    .modal label input[type="checkbox"] {
        margin-right: 10px;
    }
    .reg-btn{
        margin-left:45px;

    }
    .perehod{
        padding-left:85px;
}

}
