.footer {
	background-color: #93aafc;
	color: white;
	padding: 60px 0 50px;
	text-align: center;
}

.footer__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 27px;
}

@media (max-width: 850px) {

	.footer {
		margin-top: auto;
		padding: 0px 0 50px;
	}

	.footer__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 27px;
	}

	@media (max-width: 850px) {

		.footer {
			margin-top: auto;
			padding: 0px 0 50px;
		}

		.footer__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 27px;
		}
	}

}